# Основные зависимости для Telegram-бота
python-telegram-bot==20.3

# Для парсинга сайтов
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
html5lib==1.1

# Работа с базой SQLite (встроен, но на всякий случай)
sqlite-utils==3.37

# Планировщик задач
schedule==1.2.1

# Обработка окружения (.env)
python-dotenv==1.0.1

# Для логирования и утилит
colorama==0.4.6

# Для случайных пауз, многопоточности и таймингов
aiohttp==3.10.5

# Для дополнительной совместимости с Render
gunicorn==23.0.0
